<%- include('header', { pageTitle: '页面未找到', siteName: siteName, basePath: basePath, pages: pages }) %>

<div class="error-page">
  <h1>404</h1>
  <p><%= message %></p>
  <a href="<%= basePath %>/" class="back-home">← 返回首页</a>
</div>

<%- include('footer', { siteName: siteName, basePath: basePath }) %>
